#wrapper {
	width: 900px;
	border: 5px rgb(29, 51, 107) solid;
	border-radius: 10px;
	height: 600px;
	margin:auto;
}
h1 {
	text-align: center;
}
table {
	width: 800px;
	text-align: center;
}
table, th, td {
	border: 1px solid black;
}
table th {
	font-size: 20px;
}