
table.sortable thead {

    background-color:#eee;

    color:#666666;

    font-weight: bold;

    cursor: default;
}
a{
	position: absolute;
	right:300px;
	top:125px;
}
.textleft{
	text-align: center;
}
.innertable {
	vertical-align: top;
}
table.sortable {
	width: 1000px;

}
table td {
	width: 500px;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 40px;
}
.sortable {
	border: 1px solid black;
}
.sortable th {
	border: 1px solid black;
}
.sortable td {
	border: 1px solid black;
}

table.innertable {
	width: 300px;
}

table.innertable td{
	width: 500px;
}

.addchar {
	text-align: center;
	width: 350px;
}
.stats {
	width: 1000px;
	border: 1px solid black;
}
.stats tr, td, th {
	height: 30px;
	border: 1px solid black;
}

#submit {
	margin-left: 650px;
	border: 1px solid black;
}
#edit {
	border: 1px solid black;
}
.admin_monster {
	width: 300px;
}

#body {
	width: 1050px;
	border: 5px rgb(29, 51, 107) solid;
	border-radius: 10px;
	min-height: 600px;
	margin:auto;
}
.add {
	margin-left: 650px;
	height: 30px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;

}

#editlink {
	position: relative;
	right:0px;
	top:0px;
	font-size: 15px;
	
}


