* {
  /*font-size: 30pt;*/
    vertical-align: top;
}

#content{
  width:500px;
  display: inline-block;
}

#character{
  width:400px;
  display: inline-block;
}

#fieldlist{
  display: inline-block;
  width: 300px;
  overflow: scroll;
}
#inputfield{
  display: inline-block;
  width: 300px;
  overflow: scroll;
}
.innertable{
  width: 200px;
}
.innertable span{
  color: red;
}
.innertable button{
  right;
}
.right {
  align:right;
}
.left {
  align:left;
}
table td{
  min-width: 100px;
  border: 1px solid black;
  text-align: center;
}

.stats td{
  text-align: center;
}

.textleft {

  text-align: left !important;
}

.linktype{
	/*for making buttons look like links*/
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  font-family:inherit;
  font-size:inherit;
	display:block;
}
form {
  display: inline-block;
}
