{% extends "login/base.html" %} {% include '/login/base.html' %}
{% block title %}Create{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'game/css/add.css' %}" /> {% endblock %}

{% block content %}
<div id="wrapper">
	<h1>{{room.name}}</h1>
	<table>
		<tr>
			<th>Current Monsters: </th>
			<th>Available Monsters: </th>
			<th> Assign Monsters: </th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			{% for monster in monsters %}
			{% for monster_rm in room.monster.all %}
			<td>{% if monster_rm.id == monster.id %}{{monster.name}}{%endif%}</td>
			{% endfor %}
			{% endfor %}	
		</tr>
			{% for monster in monsters %}
			{% for monster_rm in room.monster.all %}
			<td>{% if not monster_rm.id == monster.id %}{{monster.name}}{%endif%}</td>
			<td>{% csrf_token %}<button type="submit">Assign Monster</button></td>
			<td><input type="hidden" name="monster" value="{{monster.id}}"></td>
			<td><input type="hidden" name="room" value="{{room.id}}"></td>
			{% endfor %}
			</form>
		</tr>
			{% endfor %}

	</table>
</div>

{% endblock %}

