<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Add Monster</title>
	<link rel="stylesheet" type="text/css" href="{% static 'game/css/add.css' %}" />
    <script src="{% static 'game/js/megaadd.js' %}"></script>
</head>
<body>
<div id="wrapper">
	<h1>{{room.name}}</h1>
	<table>
		<tr>
			<th>Current Monsters: </th>
		</tr>
		<tr>
			{% for monster in monsters %}
			<td>{% if room.monster.id == monster.id %}{{monster.name}}{%endif%}</td>
			{% endfor %}
			<td>Assign Monsters:</td>
		</tr>
		<form action="/game/assign_monster" method="post">
		<tr>
			{% for monster in monsters %}
			<td>{{monster.name}} &nbsp {% csrf_token %}<button type="submit">Assign Monster</button></td>
			<td><input type="hidden" name="monster" value="{{monster.id}}"></td>
			<td><input type="hidden" name="room" value="{{room.id}}"></td>
			{% endfor %}
		</tr>
		</form>
	</table>
</div>
</body>
</html>
