* {
    margin: auto;
}
p {
    font-size: larger;
}
#headerblock {
    border: 5px rgb(29, 51, 107) solid;
    border-radius: 10px;
    width: 900px;
    background-color: black;
    color: orange;
}

#logoblock {
    display: inline-block;
    height: 100px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border-radius: 5px;
}

#logoblock img {
    height: 100px;
    border: 0px;
}

#titleblock {
    display: inline-block;
    width: 550px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    vertical-align: top;
    margin-top: 30px;
}

#loginblock {
    vertical-align: top;
    margin: 5px;
    text-align: center;
    display: inline-block;
    width: 100px;
    margin-top: 20px;
}

#logout {
    margin-top: 15px;
}

.positive {
    vertical-align: super;
    font-size: small;
    color: green;
}

.negative {
    vertical-align: super;
    font-size: small;
    color: red;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#content{
    display: inline-block;
    width: 60%;
    margin: 20px 20px 0px 10px;
    vertical-align: top;
}

#hero{

    display: inline-block;
    align:right;
    width:20%;
    margin: 20px 10px 0px 100px;
    vertical-align: top;
}

#wrapper{
    max-width: 920px;
}

#exitlist li{
  margin:10px 0px 20px 0px;  
}
