<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <title>MegaAdd</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/megaadd.css' %}" />
    <script src="{% static 'gameadmin/js/megaadd.js' %}"></script>
</head>

<body>
<h2>Users</h2>
<form class="box" action="admin/updateCharacter" method="post">

    {% csrf_token %}
    <!-- #TODO (add user function) -->
    <a href="/mainmenu/admin_menu">Admin Menu</a>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>User Level</th>
            <th></th>
            <th>Characters</th>

        </tr>
        {% for user in users %}
        <tr>
            <td class="textleft">{{user.username}}</td>
            <td class="textleft">{{user.email}}</td>
            <td>{{user.userlevel}}</td>
            <td><form action="/admin/edit_user" method="post">
                {% csrf_token %}
                <button class="right" type="submit">Edit User</button>
                <input type="hidden" name="user" value="{{user}}">
            </form>
</td>
            <td>
                <table class="innertable">
                    {% for character in characters %}
                    {% if character.owned_by == user %}
                    <tr>
                        <td class="left">
                            {{character.name}}
                        </td>
                        <td>
                            <form action="/admin/edit_character" method="post">
                                {% csrf_token %}
                                <button class="right" type="submit">Edit Character</button>
                                <input type="hidden" name="character" value="{{character}}">
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

</body>
