{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Admin Traps{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/admin.css' %}" /> {% endblock %}
{%block header %}Admin Traps{% endblock %}
{% block content %}
        <a href="/mainmenu/admin_menu">Admin Menu</a>
        <h2>Add Trap</h2>
        <form class="box" action="add_trap" method="post">
            <table>
                <tr>
                    <td class="left">Name: </td>
                    <td class="right"><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td class="left">Class: </td>
                    <td class="right"><select name="tclass">
                    <option value="PZ">Puzzle</option>
                    <option value="PS">Poison</option>
                    <option value="RF">Reflex</option>
                    <option value="CL">Collapse</option>
                    </select></td>
                </tr>
                <tr>
                    <td class="left">Strength: </td>
                    <td class="right"><input type="number" name="strength"></td>
                </tr>
       
            </table>
            {% csrf_token %}
            <button type="submit" name="button" class="add">Add Trap</button>
            </form>
            <h2>Current Traps</h2>
            <table class="stats">
                <tr>
                    <th>ID:</th>
                    <th class="textleft">Name</th>
                    <th>Class</th>
                    <th>Strength</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th class="textleft">Location</th>
                </tr>
                {% for trap in traps %}
                <tr>
                    <td>{{trap.id}}</td>
                    <td class="textleft">{{trap.name}}</td>
                    <td>{{trap.tclass}}</td>
                    <td>{{trap.strength}}</td>
                    <td><form action="edit_trap/{{trap.id}}" method="post">
                            {% csrf_token %}
                            <button type="submit">Edit Trap</button>
                        </form></td>
                    <td><form action="delete_trap" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete Trap</button>
                            <input type="hidden" name="trap" value="{{trap.id}}">
                        </form></td>
                    <td>
                    <table>
                        
                            {% for room in rooms %}
                            {% for room_tr in room.trap.all%}     
                            {% if room_tr.id == trap.id%}  
                            <th>{{room.name}}</th>
                        <tr>    
                            <th><form action="room_trap" method="post">
                                {% csrf_token %}
                                <button type="submit" name="">Add/Remove Traps</button>
                                <input type="hidden" name="room_id" value="{{room.id}}">
                            </form> </th>
                        </tr> 
                            {% endif %} 
                            {% endfor %}
                            {% endfor %}
                              
                        
                    </table>
                   </td>
                </tr>
            {% endfor %}
            </table>

        

{% endblock %}
