{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}User Admin{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/admin.css' %}" /> {% endblock %}
{% block scripts %}<script src="{% static 'gameadmin/js/sorttable.js' %}"></script>{% endblock %}
{%block header %}User Admin {% endblock %}
{% block content %}

    <a href="/mainmenu/admin_menu">Admin Menu</a>
   <h2> Users </h2>
    <table class='sortable'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>User Level</th>
            <th>Edit:</th>
            <th>Delete:</th>
            <th>Characters</th>

        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td class="textleft">{{user.username}}</td>
            <td class="textleft">{{user.email}}</td>
            <td>{{user.userlevel}}</td>
            <td><form action="edit_user/{{user.id}}" method="post">
                {% csrf_token %}
                <button class="right" type="submit">Edit User</button>
                <input type="hidden" name="user" value="{{user.id}}">
            </form>
            </td>
            <td><form action="/admin/delete_user" method="post">
                {% csrf_token %}
                <button class="right" type="submit">Delete User</button>
                <input type="hidden" name="user" value="{{user.id}}">
            </form>
            </td>
            <td>
                <table class="innertable">
                    {% for character in characters %}
                    <tr>
                        <td class="left" align="left">
                            {{character.name}}
                        </td>
                        <td align="right">
                            <form action="edit_character/{{character.id}}" method="post">
                                {% csrf_token %}
                                <button class="right" type="submit">Edit Character</button>
                                <input type="hidden" name="character" value="{{character.id}}">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>

</form>
</tr>
</table>


{% endblock %}
