{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Items Admin{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/admin.css' %}" /> {% endblock %}
{% block scripts %}<script src="{% static 'gameadmin/js/sorttable.js' %}"></script>{% endblock %}
{%block header %}Items Admin {% endblock %}
{% block content %}
        <a href="/mainmenu/admin_menu">Admin Menu</a>
        <h2>Add Item</h2>
        <form class="box" action="add_item" method="post">
            <table>
                <tr>
                    <td class="left">Name: </td>
                    <td class="right"><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td class="left">Strength Bonus: </td>
                    <td class="right"><input type="number" name="strbonus"></td>
                </tr>
                <tr>
                    <td class="left">Dexterity Bonus: </td>
                    <td class="right"><input type="number" name="dexbonus"></td>
                </tr>
                <tr>
                    <td class="left">Intelligence Bonus:</td>
                    <td class="right"><input type="number" name="intbonus"></td>
                </tr>
                <tr>
                    <td class="left">Health Bonus: </td>
                    <td class="right"><input type="number" name="hthbonus"></td>
                </tr>
                <tr>
                    <td class="left">Consumable: </td>
                    <td class="right"><select name="consumable">
                    <option value="False">False</option>
                    <option value="True">True</option>
                    </select></td>
                    </td>
            </table>
            {% csrf_token %}
            <button class="add" type="submit" name="button">add Items</button>
        </form>
        <h2>Current Items</h2>
        <table class="stats">
            <tr>
                <th>ID:</th>
                <th class="textleft">Name</th>
                <th>Strength Bonus</th>
                <th>Dexterity Bonus</th>
                <th>Intelligence Bonus</th>
                <th>Health Bonus</th>
                <th>Consumable?</th>
                <th>Edit Item</th>
                <th>Delete Item</th>
                <th>Owner: </th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td class="textleft">{{item.name}}</td>
                <td>{{item.strbonus}}</td>
                <td>{{item.dexbonus}}</td>
                <td>{{item.intbonus}}</td>
                <td>{{item.hthbonus}}</td>
                <td>{{item.consumable}}</td>
                <td><form class="box" action="edit_item/{{item.id}}" method="post">
                {% csrf_token %}
                <button type="submit" name="button" value="{{item.id}}">Edit Item</button></form></td>
                <td><form class="box" action="delete_item" method="post">
                {% csrf_token %}
                <button type="submit" name="item" value="{{item.id}}">Delete Item</button></form></td>
                <td>
                    <table class="innertable">
                        <tr>
                            {% for character in characters %}
                            {{character.all}}
                            {% for item_cr in character.owner.all %}
                            {% if item.id == item_cr.id %}
                            <td class="textleft">
                                {{character.name}} </td>

                            {%endif%} {% endfor %} {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                <form action="character_item" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="">Add/Remove Owner</button>
                                    <input type="hidden" name="item_id" value="{{item.id}}"></td>
                            </form>

                        </tr>

                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
