{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Create{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/add.css' %}" /> {% endblock %}
{%block header %}Assign Owners to Items{% endblock %}
{% block content %}
<div id="wrapper">
	<h1>{{item.name}}</h1>
	<table>
		<tr>
			<th>Owner: </th>
			<th>Remove Owner </th>
		</tr>
		{% for character in characters %}
		{% for character_it in item.owned_by.all %}
		{% if character_it.id == character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td><form action="remove_character" method="post">
				{% csrf_token %}
				<button type="submit">Remove Trap</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="item" value="{{item.id}}">
				<!-- <input type="hidden" name="item.id" value="{{item.id}}"> -->
				</form></td>
		</tr>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</table>
	<table>
		<tr>
			<th>Available Owner: </th>
			<th>Assign Owner: </th>
		</tr>
		{% for character in characters %}
		{% if item.character.all %}
		{% for character_it in item.character.all %}
		{% if character_it.id != character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_item" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="item" value="{{item.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{% endfor %}
		{% else %}
		{% if character_it.id != character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_item" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="item" value="{{item.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{%endif%}
		{% endfor %}
	</table>
	<a href="{% url 'Admin:admin_items' %}">Go Back</a>
</div>
{% endblock %}
