{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Create{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/add.css' %}" /> {% endblock %}
{%block header %}Characters Currently in Room {% endblock %}
{% block content %}
<div id="wrapper">
	<h1>{{room.name}}</h1>
	<table>
		<tr>
			<th>Current Visitors: </th>
			<th>Remove Visitors: </th>
		</tr>
		{% for character in characters %}
		{% for character_rm in room.currently_in.all %}
		{% if character_rm.id == character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td><form action="remove_visitor" method="post">
				{% csrf_token %}
				<button type="submit">Remove Visitor</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="room" value="{{room.id}}">
				</form></td>
		</tr>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</table>
	<table>
		<tr>
			<th>Available Characters: </th>
			<th>Assign Characters: </th>
		</tr>
		{% for character in characters %}
		{% if room.currently_in.all %}
		{% for character_rm in room.currently_in.all %}
		{% if not character_rm.id == character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_visitor" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="room" value="{{room.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{% endfor %}
		{% else %}
		{% if not character_rm.id == character.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_visitor" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="room" value="{{room.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{%endif%}
		{% endfor %}
	</table>
	<a href="{% url 'Admin:admin_rooms' %}">Go Back</a>
</div>
{% endblock %}
