{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Admin - Edit Character{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/edit.css' %}" /> {% endblock %}
{% block scripts %}<script src="{% static 'gameadmin/js/sorttable.js' %}"></script>{% endblock %}
{%block header %}Admin - Edit Character {% endblock %}
{% block content %}
<div id="body">	
	<div id="header">
		<h1>{{characters.name}}</h1>
		<a href="/mainmenu/admin_menu">Admin Menu</a>
	</div>
	<div id="current">	
		<h2>Current Information:</h2>
		<table class="edit_characters">
			<tr>
                <th>ID:</th>
                <th>Name: </th>
                <th>Class: </th>
                <th>Strength: </th>
                <th>Dexterity: </th>
                <th>Intelligence: </th>
                <th>Health: </th>
                <th>Current Health:</th>
                <th>Gold: </th>
                <th>Killed By</th>
                <th>Level: </th>
                <th>Owned By: </th>
            </tr>
            <tr>
            	<td>{{characters.id}}</td>
        		<td>{{characters.name}}</td>
                <td>{{characters.cclass}}</td>
                <td>{{characters.strength}}</td>
                <td>{{characters.dexterity}}</td>
                <td>{{characters.intelligence}}</td>
                <td>{{characters.health}}</td>
                <td>{{characters.current_health}}</td>
                <td>{{characters.gold}}</td>
                <td>{{characters.killed_by}}</td>
                <td>{{characters.level}}</td>
                <th>{{characters.owned_by.username}}</th>
            </tr>
        </table>
    </div>
    <div id="edits">
    	<h2>Make Changes Below</h2>
    	<table class="change_characters">
    		<tr>
	    		<th>Name: </th>
	            <th>Class: </th>
	            <th>Strength: </th>
	            <th>Dexterity: </th>
	            <th>Intelligence: </th>
	            <th>Health: </th>
	            <th>Current Health:</th>
	            <th>Gold: </th>
	            <th>Killed By: </th>
	            <th>Level: </th>
	            <th>Submit: </th>
	        </tr>
	        <tr>
	        	<form action="{% url 'Admin:update_character' %}" method="post">
				<td><input class="user" type="text" name="name" value="{{characters.name}}"></td>
				<td><select id="selectchar" name="cclass">
					<option value="FI">FI</option>
					<option value="RO">RO</option>
					<option value="WI">WI</option>
					</select>
					</td>
				<td><input class="char" type="text" name="strength" value="{{characters.strength}}"></td>
				<td><input class="char" type="text" name="dext" value="{{characters.dexterity}}"></td>
				<td><input class="char" type="text" name="intel" value="{{characters.intelligence}}"></td>
				<td><input class="char" type="text" name="health" value="{{characters.health}}"></td>
				<td><input class="char" type="text" name="current_health" value="{{characters.current_health}}"></td>
				<td><input class="char" type="number" name="gold" value="{{characters.gold}}"></td>
				<td><input class="char" type="text" name="killed_by" value="{{characters.killed_by}}"></td>
				<td><input class="char" type="number" name="level" value="{{characters.level}}"></td>
				<td>{% csrf_token %}<input type="submit" name="submit" value="Save Changes">
				<input type="hidden" name="id" value="{{characters.id}}"></form></td>
				
			</tr>
		</table>
	</div>
	<div>
		<a href="{% url 'Admin:admin_characters' %}">Go Back</a>
		{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<li {% if message.tags %} class=" {{ message.tags }}" {% endif%}>
								{{ message }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}

	</div>

{% endblock %}