{% extends "gameadmin/base.html" %} {% include '/gameadmin/base.html' %}
{% block title %}Create{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'gameadmin/css/add.css' %}" /> {% endblock %}
{%block header %}Monsters Killed By: {% endblock %}
{% block content %}
<div id="wrapper">
	<h1>{{monster.name}}</h1>
	<table>
		<tr>
			<th>Current Killers: </th>
			<th>Remove Killer: </th>
		</tr>
		{% for character in characters %}
        {% for character_mn in character.killed.all%}
        {% if character_mn.id == monster.id%}
		<tr>
			<td>{{character.name}}</td>
			<td><form action="remove_killer" method="post">
				{% csrf_token %}
				<button type="submit">Remove Killer</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="monster" value="{{monster.id}}">
				</form></td>
		</tr>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</table>
	<table>
		<tr>
			<th>Available Killers: </th>
			<th>Assign Killers: </th>
		</tr>
		{% for character in characters %}
		{% if character.killed.all %}
		{% for character_mn in character.killed.all %}
		{% if not character_mn.id == monster.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_killer" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="monster" value="{{monster.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{% endfor %}
		{% else %}
		{% if not character_mn.id == monster.id %}
		<tr>
			<td>{{character.name}}</td>
			<td>
				<form action="assign_killer" method="post">
				{% csrf_token %}
				<button type="submit">Assign character</button>
				<input type="hidden" name="character" value="{{character.id}}">
				<input type="hidden" name="monster" value="{{monster.id}}">
				</form>
			</td>
		</tr>
		{%endif%}
		{%endif%}
		{% endfor %}
	</table>
	<a href="{% url 'Admin:admin_monsters' %}">Go Back</a>
</div>
{% endblock %}
