{% extends "login/base.html" %} {% include '/login/base.html' %}
{% block title %}Main Menu{% endblock %}
{% block loads %}{% load static %} {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'mainmenu/css/index.css' %}" /> {% endblock %}

{% block content %}
<div id="wrapper">
	<div id="header">
		<h1>Main Menu</h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="{% url 'Mainmenu:admin_menu' %}">Admin</a></li>
			<li><a href="{% url 'Mainmenu:select_character' %}">Continue</a></li>
			<li><a href="{% url 'Mainmenu:roll' %}">New Character</a></li>
			<li><a href="{% url 'Mainmenu:delete' %}">Delete Character</a></li>
			<li><a href="{% url 'Mainmenu:hall' %}">Hall of Fame</a></li>
			<li><a href="{% url 'Login:logout' %}">Quit Game</a></li>
		</ul>
	</div>
</div>
{% endblock %}
