body {
	background-color: grey;
}
#wrapper {
	width: 900px;
	border: 5px rgb(29, 51, 107) solid;
	border-radius: 10px;
	height: 600px;
	margin:auto;
	background-color: black;
	color: orange;

}

#header {
	text-align: center;
	margin-top: 20px;
	
}
h2 {
	margin-top: 20px;
}
#login {
	text-align: center;
}
#login1 {
	display: inline-block;
	margin-top: 20px;
}
.box {
	height: 20px;
	width: 200px;
	direction: rtl;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
#submita {
	border-radius: 5px;
	font-size: 15px;
	margin-top: 15px;
	border-radius: 5px;
	background-color: black;
	box-shadow: 2px 2px orange;
	color: white;
}

#register {
	text-align: left;
	margin-top: 30px;

}
#register td {
	font-size: 20px;

}
#registering {
	text-align: center;
	display: block;
	margin-top: 30px;
}

.boxa {
	height: 20px;
	width: 200px;
	direction: ltr;
	display: inline-block;
	text-align: left;
	margin-bottom: 5px;

}
#submitb {
	border-radius: 5px;
	font-size: 15px;
	margin-left: 415px;
	margin-top: 15px;
	border-radius: 5px;
	background-color: black;
	box-shadow: 2px 2px orange;
	color: white;
}
input {
	border: 3px solid orange;
	font-family: "Comic Sans MS", cursive, sans-serif;
}






